.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #9b7cb4;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 30px;
  color: white;
}



.product{
  margin-top:100px ;
}
.wrapper{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: center;  
  align-items: center;
  padding: 10px;
  overflow: hidden;
  box-sizing: border-box;
}
.productCard{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border: solid 2px #9b7cb4;
  margin: 5px 10px;
  border-radius: 10px;
  width: 20%;
  height: 300px;
  padding: 10px;
  overflow-x: hidden;
  background-color: #b7a4c7 ;
}
.viewProduct{
  background-color: white;
  color: #2e2441;
  border: solid 2px #9b7cb4;
  text-align: center;
  font-size: 15px;
  padding: 5px;
  font-weight: bold;
  border-radius: 5px;
   text-decoration: none;
}
.viewProduct:hover{
  background-color: #9b7cb4;
  color: white; 
  cursor: pointer;

}
.productTitle{
  font-size: 20px;
  color: #2e2441;

  
}
.imgProduct{
    border: solid 1px white;
    border-radius: 5px;
    width: 200px;
    height: 150px;
  
}

.link-styling{
  color: #2e2441;
 text-align: center;
  font-size: 15px;
  font-weight: bold;
   text-decoration: none;
}
.link-styling:hover{
  color: #2e2441;
  cursor: pointer;
}
.link-styling:link{
  color: #2e2441;

 text-align: center;
  font-size: 15px;
  font-weight: bold;
   text-decoration: none;
}
.link-styling:visited{
  color: #2e2441;

 text-align: center;
  font-size: 15px;
  font-weight: bold;
   text-decoration: none;
}
.link-styling:active{
  color: #2e2441;

 text-align: center;
  font-size: 15px;
  font-weight: bold;
   text-decoration: none;
}
.link-styling:focus{
  color: #2e2441;

 text-align: center;
  font-size: 15px;
  font-weight: bold;
   text-decoration: none;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
